<?xml version="1.0"?>
<launch>	
	<include file="$(find explore_borders)/launch/frontierExp.launch" />
	
	<param name="/use_sim_time" value="true" />
	
	<include file="$(find husky_navigation)/launch/gmapping.launch" />

	<include file="$(find explore_borders)/launch/param/husky_move_base.launch" />
	
	<include file="$(find husky_viz)/launch/view_robot.launch" />
	
	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch" >
		<arg name="world_name" value="$(find explore_borders)/worlds/box_world2.world"/>
		<arg name="x_ini" default="0.0"/>
		<arg name="y_ini" default="-20.0"/>
		<arg name="z_ini" default="0.0"/>
	</include>
	
	<node name="laser_hot_fix" pkg="explore_borders" type="laser_hot_fix"  output="screen">
		<param name="max_range" value="6.0" />
		<param name="sub_scan_topic" value="scan" />
		<param name="pub_scan_topic" value="scan_fix" />
	</node>
	
	<include file="$(find measure_distance)/launch/measure_distance.launch" >
		 <arg name="odom_topic" value="odometry_filtered"/>
		 <arg name="feedback_topic" value="move_base/feedback"/>
	</include>

</launch>