<?xml version="1.0"?>
<launch>
	<param name="/use_sim_time" value="true" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find exp_devel)/rviz/empty_husky.rviz" output="screen"/>
  
	<include file="$(find husky_gazebo)/launch/husky_empty_world.launch" >
		  <arg name="world_name" value="$(find exp_devel)/worlds/box_world.world"/>
		  <arg name="x_ini" value="0.0"/>
  		  <arg name="y_ini" value="0.0"/>
  		  <arg name="z_ini" value="0.0"/>
		  
	</include>
	

</launch>